<div id="<%= dom_id benefit %>">
  <p>
    <strong>Name:</strong>
    <%= benefit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= benefit.description %>
  </p>

  <p>
    <strong>Short name:</strong>
    <%= benefit.short_name %>
  </p>

</div>
