<div id="<%= dom_id process_remark %>">
  <p>
    <strong>Reference:</strong>
    <%= process_remark.reference_id %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= process_remark.remark %>
  </p>

  <p>
    <strong>User:</strong>
    <%= process_remark.user_id %>
  </p>

</div>
