<div id="<%= dom_id agreement_benefit %>">
  <p>
    <strong>Name:</strong>
    <%= agreement_benefit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= agreement_benefit.description %>
  </p>

</div>
