<div id="<%= dom_id proposal_officer %>">
  <p>
    <strong>Proposal:</strong>
    <%= proposal_officer.proposal_id %>
  </p>

  <p>
    <strong>Officer:</strong>
    <%= proposal_officer.officer_id %>
  </p>

</div>
