
<%= render @proposal_officer %>

<div>
  <%= link_to "Edit", edit_proposal_officer_path(@proposal_officer), class: 'btn btn-primary' %> |
  <%= link_to "Back", proposal_officers_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @proposal_officer, method: :delete, class: 'btn btn-danger' %>
</div>
