
<%= render @group_remit %>

<div>
  <%= link_to "Edit", edit_group_remit_path(@group_remit), class: 'btn btn-primary' %> |
  <%= link_to "Back", group_remits_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @group_remit, method: :delete, class: 'btn btn-danger' %>
</div>
