<div id="<%= dom_id batch_dependent %>">
  <p>
    <strong>Batch:</strong>
    <%= batch_dependent.batch_id %>
  </p>

  <p>
    <strong>Member dependent:</strong>
    <%= batch_dependent.member_dependent_id %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= batch_dependent.premium %>
  </p>

</div>
