
<%= render @batch_dependent %>

<div>
  <%= link_to "Edit", edit_batch_dependent_path(@batch_dependent), class: 'btn btn-primary' %> |
  <%= link_to "Back", batch_dependents_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @batch_dependent, method: :delete, class: 'btn btn-danger' %>
</div>
