<div id="<%= dom_id batch_beneficiary %>">
  <p>
    <strong>Batch:</strong>
    <%= batch_beneficiary.batch_id %>
  </p>

  <p>
    <strong>Member dependent:</strong>
    <%= batch_beneficiary.member_dependent_id %>
  </p>

</div>
