<div id="<%= dom_id anniversary %>">
  <p>
    <strong>Name:</strong>
    <%= anniversary.name %>
  </p>

  <p>
    <strong>Anniversary date:</strong>
    <%= anniversary.anniversary_date %>
  </p>

</div>
