<div id="<%= dom_id product_category %>">
  <p>
    <strong>Product line:</strong>
    <%= product_category.product_line_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product_category.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product_category.code %>
  </p>

</div>
