<div id="<%= dom_id batch_remark %>">
  <p>
    <strong>Batch:</strong>
    <%= batch_remark.batch_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= batch_remark.text %>
  </p>

  <p>
    <strong>User:</strong>
    <%= batch_remark.user_id %>
  </p>

</div>
