
<%= render @cooperative %>

<div>
  <%= link_to "Edit", edit_cooperative_path(@cooperative), class: 'btn btn-primary' %> |
  <%= link_to "Back", cooperatives_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @cooperative, method: :delete, class: 'btn btn-danger' %>
</div>
