
<%= render @contestability %>

<div>
  <%= link_to "Edit", edit_contestability_path(@contestability), class: 'btn btn-primary' %> |
  <%= link_to "Back", contestabilities_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @contestability, method: :delete, class: 'btn btn-danger' %>
</div>
