
<%= render @member %>

<div>
  <%= link_to "Edit", edit_member_path(@member), class: 'btn btn-primary' %> |
  <%= link_to "Back", members_path, class: 'btn btn-primary' %>

  <%= button_to "Delete", @member, method: :delete, class: 'btn btn-danger' %>
</div>
